<%= simple_form_for @user do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
	<fieldset>
          <legend>Edit User</legend>
	    <%= f.input :name , :placeholder => 'Your Name min. 6 characters'%>
	    <%= f.input :email, :placeholder => 'Valid Email Address' %>
	    <%= f.input :password, :placeholder => 'Password min. 6 characters' %>
            <%= f.input :password_confirmation, :label => "Confirmation", :required => true %>
            <% if current_user.admin? %>
            <%= f.input :admin %>
            <% end %>
            <%= f.button :submit %>
       </fieldset>
<% end %>
       <div>
	  <%= gravatar_for @user %>
          <a href="http://gravatar.com/emails">change</a>
       </div>
