<h1>
  <%= @invitation.email %>
</h1>
<div>email: <%= @invitation.email %></div>
<div>access code:<%= @invitation.access_code %></div>
<div>undertaking id:<%= @invitation.undertaking_id %></div>
<div>invitee id:<%= @invitation.invitee_id %></div>
<div>inviter id:<%= @invitation.inviter.id %></div>
