        <div id="header">
		<h1><%= link_to "JoinOpp", home_path %></h1>
		<h2>make a difference</h2>
	</div>
	<div id="menu">
		<ul>
			<li class="first"><%= link_to "Home", home_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Privacy", privacy_path %></li>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
