<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
</head>
<body>
  <div id="container">
     <%= render 'layouts/header' %>
     <div id="wrapper" class="clearix">
          <%= render 'layouts/leftcol' %>
          <div id="twocols">
              <div id="maincol">
		    <%= yield %>
              </div>
	      <%= render 'layouts/rightcol' %>
          </div>  
      </div>
      <%= render 'layouts/footer' %>
   </div>
</body>
</html>
