<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
</head>
<body>
<div id="outer">
	<%= render 'layouts/header' %>
	<div id="content">
		<div id="tertiaryContent">
			<h3>Current Priority</h3>
			<%if current_undertaking?%>
			<div id="undertaking_title">
			 <%= link_to wrap(current_undertaking.title), current_undertaking %>
                        </div>
		        <div id="undertaking_description">
			<%= wrap(current_undertaking.description) %>
                        </div>
                        <%end%>
			<h3>Committed Contributors</h3>
			<p>Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada. <a href="#">More&#8230;</a></p>
			<h3>Malesuada vivamus</h3>
			<ul>
				<li><a href="#">Orci nonummy fringilla</a></li>
				<li><a href="#">Enim vivamus convallis</a></li>
				<li><a href="#">Duis congue ultricies</a></li>
				<li><a href="#">Purus in mollis purus</a></li>
				<li><a href="#">Malesuada Turpis</a></li>
				<li><a href="#">Integer facilisis</a></li>
				<li><a href="#">Quis Gravida Massa</a></li>
				<li><a href="#">Pellentesque at lorem</a></li>
				<li><a href="#">Ipsum vitae felis</a></li>
				<li><a href="#">Sagittis Bibendum Erat</a></li>
			</ul>
			<div class="xbg"></div>
		</div>
		<div id="primaryContentContainer">
			<div id="primaryContent">
				<% flash.each do |key, value| %>
				   <div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<p><%= yield %></p>
				<p>Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Nullam et orci in erat viverra ornare. Nunc pellentesque.</p>
				<p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Quisque pellentesque semper massa:</p>
				<h3>Example Unordered List</h3>
				<ul>
					<li><a href="#">Suspendisse quis gravida massa felis.</a></li>
					<li><a href="#">Vivamus sagittis bibendum erat.</a></li>
					<li><a href="#">Nullam et orci in erat viverra ornare.</a></li>
					<li><a href="#">Suspendisse quis gravida massa felis.</a></li>
					<li><a href="#">Curabitur malesuada turpis nec ante.</a></li>
				</ul>
				<h3>Example Blockquote</h3>
				<blockquote>
						<p>Aliquam gravida massa eu arcu. Fusce mollis tristique sem. Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada turpis nec ante. Suspendisse quis felis. Suspendisse potenti. Nullam et orci in erat viverra ornare. Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus.</p>
				</blockquote>
				<h3>Example Table</h3>
				<table>
					<tr class="rowH">
						<th>Date</th>
						<th>Title</th>
						<th>Description</th>
					</tr>
					<tr class="rowA">
						<td>December 1, 2006</td>
						<td>Sed vestibulum blandit</td>
						<td>Vivamus sollicitudin dolor sit amet eros. Vivamus ligula. Sed pretium turpis eu ipsum. Sed rutrum sapien id arcu.</td>
					</tr>
					<tr class="rowB">
						<td>November 28, 2006</td>
						<td>Augue non nibh</td>
						<td>Nam adipiscing urna ac consequat dignissim massa est sodales sem.</td>
					</tr>
					<tr class="rowA">
						<td>November 23, 2006</td>
						<td>Fusce ut diam bibendum</td>
						<td>Vestibulum quis urn nulla facilis nam malesuada cursus turpis.</td>
					</tr>
					<tr class="rowB">
						<td>November 21, 2006</td>
						<td>Maecenas et ipsum</td>
						<td>Vivamus mi lectus gravida scelerisque, ultrices vitae cursus in neque.</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="secondaryContent">
			<h3>My Profile</h3>
			<ul>
				<%= render "users/profile" %>
				<li><%= link_to "Settings", edit_user_path(current_user) %></li>
				<%if signed_in? %>
			        <li><%= link_to "Sign out", signout_path %></li>
			        <% end %>
			</ul>
			<h3>What Needs Doing [<%= link_to "add", new_undertaking_path %>]</h3>
			<ul class="undertakings">
                         <% if controller.action_name != "admin_index"%>
    			  <%= render undertakings %>
 			  <% if undertakings.count > 10%>
			  <%= link_to "[show all]", undertakings_path %>
                          <% end %>
                         <% end %>
			</ul>
                        <% if current_user.admin? %>
			<h3>Administration</h3>
			<ul>
				<li><%= link_to "Users", users_path %></li>
				<li><%= link_to "Undertakings", admin_undertaking_path %></a></li>
				<li><a href="#">Duis congue ultricies</a></li>
				<li><a href="#">Purus in mollis purus</a></li>
			</ul>
                        <% end %>
			<p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in. <a href="#">More&#8230;</a></p>
			<h3>Ipsum Dolorem</h3>
			<ul>
				<li><a href="#">Sagittis Bibendum Erat</a></li>
				<li><a href="#">Malesuada Turpis</a></li>
				<li><a href="#">Quis Gravida Massa</a></li>
				<li><a href="#">Inerat Viverra Ornare</a></li>
			</ul>
			<div class="xbg"></div>
		</div>
		<div class="clear"></div>
	</div>
	<%= render 'layouts/footer' %>
</div>
</body>
</html>
