<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
</head>
<body>
<div id="outer">
	<%= render 'layouts/header' %>
	<div id="content">
		<div id="welcomeTertiaryContent">
                    <% if !signed_in? %>
                      
                       <%@user ||= User.new %>
                      <%= simple_form_for @user do |f| %>
		      <%= render 'shared/error_messages', :object => f.object %>
			<fieldset>
			  <legend>Sign Up!</legend>
			    <%= f.input :name, :error => false %>
			    <%= f.input :email, :error => false %>
			    <%= f.input :password, :error => false %>
			    <%= f.input :password_confirmation, :label => "Confirmation", :required => true, :error => false %>
			    <%= f.input :welcome_code, :label => "Access code", :error => false %>
			    <%= f.button :submit %>
		       </fieldset>
		      <% end %>
                  <% end %>	
		</div>
		<div id="primaryContentContainer">
			<div id="primaryContent">
				<h2>Welcome to JoinOpp.com!</h2>
                                <% flash.each do |key, value| %>
				   <div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<p><%= yield %></p>
				
			</div>
		</div>
		<div id="secondaryContent">
			
		</div>
		<div class="clear"></div>
	</div>
	<%= render 'layouts/footer' %>
</div>
</body>
</html>
